<!--
Launch file for testing purposes
-->

<launch>
  <node name="color_cloud" pkg="color_cloud" type="color_cloud.py" >

    <param name="pc2_topic_in"       value="pointcloud1" />                    <!--default = pointcloud -->
    <param name="image_topic_in"     value="usb_cam/image_raw" />   <!--default = usb_cam/image_raw -->
    <param name="pc2_topic_out"      value="rgb_cloud" />                      <!--default = rgb_cloud -->

    <param name="fov_width"          value="54" />                 <!--default = 54 -->
    <param name="fov_height"         value="41" />                 <!--default = 41 -->
    <param name="width_offset"       value="0" />                <!--default = 0 -->
    <param name="height_offset"      value="0" />               <!--default = 0 -->

  </node>
</launch>
